/* Global Styles and Variables */

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Global Colors */
  --noto-font:'Noto Sans', sans-serif;

  --bgcolor:rgba(21, 36, 93, 1);
  --button-color: #081441;
  --bg: #081441;
  --primary-color: rgb(9, 11, 44);
  --secondary-font: "Lato", sans-serif;
  --primary-font: "Poppins", sans-serif;
  --merri-font: "Merriweather Sans", sans-serif;
}


/* Body Styles */
body {
  color: rgb(30, 30, 30);
  margin: auto;
  overflow-x: hidden;
  
}

/* Product section design starts */
.productBox {
  justify-content: center;
}

.point li {
  font-family: var(--secondary-font);
}

.contentContainer {
  padding: 0px 16px;
  max-width: 596px;
}

/* Button styles */
.btn {
  background: var(--button-color);
  font-family: var(--primary-font);
  letter-spacing: 1px;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
}

.tag {
  z-index: 10;
  padding: 5px 10px;
  max-height: 25px;
  margin-left: -48px;
  margin-top: 25px;
  left: auto;
  font-size: 12px;
  min-width: 50px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  line-height: 1.2;
  background-color: var(--primary-color);
  font-family: "Lato", sans-serif;
}

.price {
  font-family: var(--secondary-font);
}

/* Magnify effect styles */
#magnifying_img {
  --zoom-factor: 2;
}

.imgbox {
  /* padding: 0px 16px; */
}

figure {
  width: 597px;
  height: 611px;
  overflow: hidden;
  border: 3px solid #fff;
  position: relative;
  cursor: grab;
}

figure img {
  max-width: 100%;
  min-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none;
}

/* Slider section design starts */
.slider-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.slider-menu button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 20px;
  transition: color 0.3s ease;
}


.slider-menu button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 20px;
  transition: color 0.3s ease;
}

.slider-menu button.active {
  color: var(--button-color);
}

.slider-content > div {
  display: none;
}

.slider-content > div.show {
  display: block;
}

.section-description {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.section-additional-info {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: var(--primary-font);
}

.section-reviews {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  color: rgb(52, 52, 52);
}

.about {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.des {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  padding: 2px 14px;
  max-width: 1200px;
  font-family: var(--secondary-font);
}

.adi {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-button {
  position: relative;
  transition: 0.3s ease;
  color: rgb(77, 77, 77);
  font-family: var(--primary-font);
}
.ichover{
 width: calc(100% - 25px);
 
}

.tab-button::before {
  content: "";
  position: absolute;
  background: #081441;
  width: 0%;
  height: 3px;
  bottom: 48px;
  left: -3px;
  transition: 0.2s ease-in;
}

.tab-button.active::before {
  width: 100%;
  opacity: 1;
  /* Visible when active */
}

/* Slider section design ends */

/* Media queries */
@media (max-width: 640px) {
  .title {
    font-size: 20px;
  }

  figure {
    width: 480px;
    padding: 0px 5px;
  }

  .price {
    font-size: 20px;
  }

  .price span {
    font-size: 18px;
  }
}

@media screen and (max-width: 545px) {
  .tab-button::before {
    bottom: 71px;
  }
}






/* dropdown menu */

.browse {
  color: rgb(255, 255, 255);
  height: 50px;
  width: 22%;
  background-color: rgb(29, 29, 98);
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  margin-left: 1%;
  min-width: 150px;
}


.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  width: 18%;
  min-width: 150px;
  list-style: none;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  position:absolute;
  align-self: first baseline;
  margin-top:50px ;
  
  transition: all 1s ease-in;

}
.browse:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  font-family: var(--secondary-font);
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content li:hover {
  background-color: #f1f1f1;
}


.browsee {
  color: rgb(255, 255, 255);
  height: 50px;
  width: 22%;
  background-color: rgb(29, 29, 98);
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  margin-left: 1%;
  min-width: 150px;
}

.dropdownn-content {
  display: none;
  background-color: #f9f9f9;
  width: 18%;
  min-width: 150px;
  list-style: none;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: -100%; /* Start the dropdown outside of the screen */
  height: 100%;
  overflow-y: auto;  
  transition: left 0.3s ease-in-out; /* Add smooth sliding animation */
  z-index: 2; /* Make sure the menu appears above other elements */
}

/* Show the menu when it's open */
.dropdownn-content.open {
  display: block;
  left: 0; /* Slide the menu from the left when it's open */
}

.dropdownn-content a {
  font-family: var(--secondary-font);
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownn-content li:hover {
  background-color: #f1f1f1;
}






/* --generics-- */
.bglight{
  background-color: var(--bgcolor);
  color: white;
}

.latofont{
  font-family: var(--secondary-font);
}
.bluebg{
  color: white;
  background-color: var(--bg);
}
.blackbg{
  background-color:black;
  height: 500px;
  margin-bottom: 40px;


}

.ind{
  z-index: 50000;
}
.popinsfont{
  font-family: var(--primary-font)
}
  .merrifont{
    font-family: var(--merri-font);

  }
  .popin{
    font-family: var(--primary-font);
  }

  .noto-font{
    font-family:var(--noto-font)
  }
  .herobtn{
    z-index: 12;
    background-color: rgb(6, 0, 79);
    font-family: var(--primary-font);
    height: auto;
    width: auto;
    color: rgb(255, 255, 255);
   
    line-height: 47px;
    font-weight: 600;
    font-size: 20px;
    padding-left: 29px;
    border-radius: 25px;
    padding-right: 29px;
    
    
  }

  .darkbg{
    background-color: var(--primary-color);
  }









/* SideMenu.css */



/* Basic styles for the side menu */
.side-menu {
  position: fixed;
  overflow-y: auto;
  font-family: var(--secondary-font);
  
  top: 0;
  left: -300px; /* 
  width: 300px; /* Adjust this value based on your menu width */
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  z-index: 2; 
}

/* Styles for the open state of the side menu */
.side-menu.open {
  left: 0;
}

/* Basic styles for the background overlay */
.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 1; 
}

/* Styles for the list items */
.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-menu li {
  padding: 15px; /* Adjust the padding as needed */
  border-top: 1px solid #ddd; /* Border at the top of each menu item */
  border-bottom: 1px solid #ddd; /* Border at the bottom of each menu item */
  cursor: pointer;
  font-family: var(--secondary-font);
}

/* Styles for the links inside the list items */
.side-menu li a {
  color: black ;
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: 13px;
  text-transform: uppercase;
}

/* Hover styles for the links */
.side-menu li a:hover {
  color: #595959;
}








/* ****Featured categories style**** */
.imgcont {
  position: relative;
  overflow: hidden;
  margin: auto;
}

.imgcont img {
  transition:all .5s ease;
  display: block;
  transform: scale(1);
  -webkit-transform: scale(1);
}
.hov{
  cursor: pointer;
  margin-bottom: 20px;
  
}

.hov:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 50000;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.topSocials.sticky {
  position: sticky;
  top: 0;
  transition: all 0.3s ease;
}
.social-title {
  transition: all 0.3s ease;
}


/* globals.css */
.hide-p {
  display: none;
}

ul.sticky-left {
  width: min-content; /* Set the ul width to fit its contents */
}

ul.sticky-left li:hover p {
  display: inline-block;
}

ul.sticky-left li:hover svg {
  width: 40px; /* Adjust the width of the icon when hovering */
}


.fbg{
  background-color: #365493;
}

.tbg{
  background-color: #3CF;
}
.mbg{
 background-color:  #F89A1E;
}

.ibg{
  background-color: #774430;
}
.wbg{
  background-color: #1EBEA5;
}


.social-icon {
  position: relative;
}

.social-title {
  position: absolute;
  left: 68px;
  transform: translateX(-50%);
  padding: 0rem 0.5rem;
  background-color: inherit;
  color: white;
  font-size: 14px;
  font-family: var(--secondary-font);
  height: 36px;
  width: 85px;
  transition: all 0.3s ease;
  display: none; /* Corrected from display: hidden; */
  align-items: center;
}




/* To hide the title initially and show it on hover */
.social-icon:hover .social-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.social-icon {
  position: relative;
}





.vlr{
  color: red;
}


.relative {
  position: relative;
}

/* .border-line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--button-color); 
  transition: width 0.3s ease; 
} */



.af::after {
  content: "";
  position: absolute;
  background: #081441;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: width 0.2s ease-in;
}

.af:hover::after {
  width: 100%;
  opacity: 1;
}
.af:active::after {
  width: 100%;
  opacity: 1;
}



/* ----shop by category section---- */
.navv{
  display: inline-flex;
  justify-content: center;
  align-items: center;
    flex-wrap: wrap;
    margin-right: calc(15px / -1);
    margin-left: calc(15px / -1);
    text-align: left;
}